* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    max-width: 100%;
    background-color: rgba(247, 247, 248, 1);
    
}
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41px;
    border-radius: 6px;
    background: rgba(255, 149, 0, 1);
    margin: 20px 20px 0px 20px;
}
.header {
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(255, 255, 255, 1);

}
.header-icon-container {
    max-width: 20px;
    height: 20px;
    margin-left: 23px;
}
.header-icon {
    max-width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Nav Container */
 
.nav-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
}
.nav-list {
    display: flex;
    margin: 16px 0px 20px 60px;
}
.nav-icon {
    width: 44px;
    height: 44px;
    padding: 5.7px;
    border-radius: 8px;
    background: rgba(255, 149, 0, 1);
}
.nav-ulist {
    display: flex;
    gap: 26px;
    font-family: Be Vietnam Pro;
    list-style: none;
    height: 45px;
    flex-wrap: wrap;
}
.nav-home {
    text-decoration: none;
    display: flex;
    padding: 12px 20px 12px 20px;
    border-radius: 6px;
    background: rgba(241, 241, 243, 1);
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: rgba(38, 38, 38, 1);
    margin-left: 50px;
}
.nav-link {
    text-decoration: none;
    display: flex;
    padding-top: 12px;
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: rgba(38, 38, 38, 1);
}
.button-container {
    display: flex;
    gap: 30px;
    margin: 16px 60px 20px 0px;
}
.first-button {
    max-width: 53px;
    height: 21px;
    padding-top: 12px;
    border-style: none;
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    background-color: rgba(247, 247, 248, 1);
    cursor: pointer;
}
.second-button { 
    max-width: 86px;
    height: 45px;
    padding: 12px 24px 12px 24px;
    gap: 8px;
    border-radius: 6px;
    border-style: none;
    background: rgba(255, 149, 0, 1);
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

/* Hero-Section */

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    width: 100%;
    height: 166px;
    gap: 16px;
}
.hero-container {
    display: flex;
    justify-content: center;
    max-width: 646px;
    width: 100%;
    height: 78px;
    gap: 10px;
    border-radius: 8px;
    padding: 12px 24px 12px 0px;
    border: 1px solid rgba(241, 241, 243, 1);
    background-color: rgba(252, 252, 253, 1);
    ;
}
.hero-icon-container {
    max-width: 48px;
    width: 100%;
    height: 48px;
    padding: 12px;
    gap: 10px;
    border-radius: 6px;
    background: rgba(255, 244, 229, 1);
}
.hero-abstract {
    position: relative;
    top: -45px;
    left: -25px;
}
.hero-icon-abstract {
    position: absolute;
}
.hero-h1 {
    max-width: 549px;
    width: 100%;
    height: 54px;
    font-family: Be Vietnam Pro;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    color: rgba(255, 149, 0, 1);
}
.hero-span {
    font-family: Be Vietnam Pro;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
    color: rgba(26, 26, 26, 1);
}
.hero-title {
    max-width: 941px;
    width: 100%;
    height: 72px;
    gap: 6px;
    text-align: center;
}
.hero-h3 {
    max-width: 941px;
    width: 100%;
    height: 42px;
    font-family: Be Vietnam Pro;
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}
.hero-h5 {
    max-width: 941px;
    width: 100%;
    height: 24px;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 6px;
}
.hero-button-container {
    display: flex;
    max-width: 308px;
    width: 100%;
    height: 49px;
    padding: 14px 20px 14px 20px;
    gap: 8px;
    border-radius: 6px;
    margin-top: 50px;
}
.hero-first-button {
    max-width: 154px;
    width: 100%;
    height: 49px;
    gap: 8px;
    border-radius: 6px;
    background: rgba(255, 149, 0, 1);
    border: none;
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.hero-second-button {
    max-width: 154px;
    width: 100%;
    height: 49px;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid rgba(241, 241, 243, 1);
    background-color: rgba(255, 255, 255, 1);
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    cursor: pointer;
}

/* Logo-Container */

.logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1279px;
    width: 100%;
    height: 116px;
    border-radius: 8px;
    margin: 199px 80px 0px 80px;
    border: 1px solid rgba(241, 241, 243, 1);
    background-color: rgba(252, 252, 253, 1);
}   
.logo-border {
    border-right: 1px solid rgba(241, 241, 243, 1)
}

/* Photo-Container */

.photo-section {
    max-width: 1,280px;
    width: 100%;
    height: 849px;
    margin-top: 80px
}
.photo-container {
    display: flex;
    justify-content: center;
    max-width: 1,280px;
    width: 100%;
    height: 849px;
    position: relative;
}
.main-photo {
    height: 849px;
    border: 1px;
    border-radius: 10px;
}
.photo-container-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    max-width: 54px;
    width: 100%;
    height: 54px;
    border-radius: 68px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.play-icon {
    display: flex;
    padding-left: 8px;
}

/* Benefits-Section */

.benefits-section {
    width: 100%;
    height: 109px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.benefits-heading {
    max-width: 933px;
    width: 100%;
    height: 109px;
    display: flex;
    flex-direction: column;
}
.benefits-h1 {
    max-width: 933px;
    width: 100%;
    height: 57px;
    font-family: Be Vietnam Pro;
    font-size: 38px;
    font-weight: 600;
    line-height: 57px;
}
.benefits-paragraph {
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(89, 89, 90, 1);
}
.benefits-button-container {
    max-width: 346px;
    width: 100%;
    height: 109px;
}
.benefits-button {
    max-width: 100px;
    width: 100%;
    height: 49px;
    padding: 14px 20px 14px 20px;
    border-radius: 6px;
    border: 1px solid rgba(241, 241, 243, 1);
    background-color: rgba(252, 252, 253, 1);
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    color: rgba(38, 38, 38, 1);
    margin: 60px 0px 0px 246px;
    cursor: pointer;
}
.benefits-card-container-first {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 370px;
    gap: 20px;
    margin-top: 60px;
}
.benefits-cards {
    max-width: 413px;
    width: 100%;
    height: 370px;
    padding: 40px 40px 0px 40px;
    background: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 10px;
}
.benefits-cards-h1 {
    max-width: 333px;
    width: 100%;
    height: 44px;
    font-family: Be Vietnam Pro;
    font-size: 60px;
    font-weight: 700;
    line-height: 24px;
    text-align: right;
}
.benefits-cards-h4 {
    max-width: 333px;
    width: 100%;
    height: 30px;
    font-family: Be Vietnam Pro;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.006em;
    text-align: left;
    margin-top: 40px;
}
.benefits-cards-paragraph {
    max-width: 333px;
    width: 100%;
    height: 48px;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: 10px;
    color: rgba(76, 76, 77, 1);
}
.benefits-cards-button-container {
    max-width: 333px;
    width: 100%;
    height: 54px;
    text-align: right;
    margin-top: 40px;
}
.benefits-card-button {
    max-width: 54px;
    width: 100%;
    height: 54px;
    padding: 14px;
    gap: 8px;
    border-radius: 6px;
    border: 1px;
    cursor: pointer;
}
.benefits-card-container-second {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 370px;
    gap: 20px;
    margin-top: 20px;
}

/* our-courses */


.our-courses-section {
    width: 100%;
    height: 109px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.our-courses-heading {
    max-width: 933px;
    width: 100%;
    height: 109px;
    display: flex;
    flex-direction: column;
}
.our-courses-h1 {
    max-width: 933px;
    width: 100%;
    height: 57px;
    font-family: Be Vietnam Pro;
    font-size: 38px;
    font-weight: 600;
    line-height: 57px;
}
.our-courses-paragraph {
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(89, 89, 90, 1);
}
.our-courses-button-container {
    max-width: 346px;
    width: 100%;
    height: 109px;
}
.our-courses-button {
    max-width: 100px;
    width: 100%;
    height: 49px;
    padding: 14px 20px 14px 20px;
    border-radius: 6px;
    border: 1px solid rgba(241, 241, 243, 1);
    background-color: rgba(252, 252, 253, 1);
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    color: rgba(38, 38, 38, 1);
    margin: 60px 0px 0px 246px;
    cursor: pointer;
}

/* Our-Courses */

.our-courses-cards {
    width: 100%;
    height: 613px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.our-courses-card-first {
    max-width: 629.5px;
    width: 100%;
    height: 613px;
    padding: 40px;
    border-radius: 10px;;
    border: 1px;
    border: 1px solid rgba(241, 241, 243, 1) ;
    background: rgba(255, 255, 255, 1);
}
.our-courses-card-second {
    max-width: 629.5px;
    width: 100%;
    height: 613px;
    padding: 40px;
    border-radius: 10px;;
    border: 1px;
    border: 1px solid rgba(241, 241, 243, 1) ;
    background: rgba(255, 255, 255, 1);
}
.our-courses-span-container {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    max-width: 549.5px;
    width: 100%;
    height: 34px;
}
.our-courses-weeks-span {
    max-width: 86px;
    width: 100%;
    height: 34px;
    padding: 8px 14px 8px 14px;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid rgba(241, 241, 243, 1);
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.71px;
    text-align: left;
}
.our-courses-beginner-span {
    max-width: 89px;
    width: 100%;
    height: 34px;
    padding: 8px 14px 8px 14px;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid rgba(241, 241, 243, 1);
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.71px;
    text-align: left;
}
.our-courses-paragraph-name {
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.24px;
    text-align: left;
    color: rgba(38, 38, 38, 1);
}
.our-courses-cards-text-container {
    max-width: 549.5px;
    width: 100%;
    height: 112px;
    gap: 10px;
    margin-top: 24px;
}
.our-courses-cards-h1 {
    max-width: 549.5px;
    width: 100%;
    height: 30px;
    font-family: Be Vietnam Pro;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
}
.our-courses-cards-paragraph {
    max-width: 549.5px;
    width: 100%;
    height: 72px;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(76, 76, 77, 1);
    margin-top: 10px;
}
.our-courses-cards-button {
    max-width: 549.5px;
    width: 100%;
    height: 49px;
    padding: 14px 24px 14px 24px;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid rgba(241, 241, 243, 1);
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    color: rgba(38, 38, 38, 1);
    margin-top: 24px;
    cursor: pointer;
}

/* Our-Testimonial-Cards */

.our-testimonial-section {
    width: 100%;
    height: 250px;
    gap: 20px;
    margin-top: 60px;
}
.our-testimonial-cards-container {
    max-width: 1,279px;
    width: 100%;
    height: 250px;
    gap: 20px;
    display: flex;
    justify-content: center;
}
.our-testimonial-card {
    max-width: 629.5px;
    width: 100%;
    height: 152px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgba(241, 241, 243, 1);
    background-color: rgba(252, 252, 253, 1); 
}
.our-testimonial-paragraph-container {
    max-width: 629.5px;
    width: 100%;
    height: 152px;
    padding: 40px;
    gap: 10px;
}
.our-testimonial-paragraph {
    max-width: 549.5px;
    width: 100%;
    height: 72px;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(76, 76, 77, 1);
}
.our-testimonial-img-container {
    max-width: 629.5px;
    width: 100%;
    height: 98px;
    padding: 24px 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgba(241, 241, 243, 1);
    display: flex;
}
.our-testimonial-name-paragraph {
    max-width: 352.5px;
    width: 100%;
    height: 24px;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    padding: 13px 0px 13px 10px;
}
.our-testimonial-button {
    max-width: 137px;
    width: 100%;
    height: 49px;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid rgba(241, 241, 243, 1);
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    cursor: pointer;
}
.our-testimonial-section-down {
    width: 100%;
    height: 250px;
    gap: 20px;
    margin-top: 20px;
}

/* Pricing-Section */

.pricing-button-container {
    max-width: 220px;
    width: 100%;
    height: 69px;
    padding: 12px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    margin: 40px 0px 0px 125px;
}
.pricing-monthly-button {
    max-width: 104px;
    width: 100%;
    height: 45px;
    padding: 12px 24px 12px 24px;
    gap: 10px;
    background: rgba(255, 149, 0, 1);
    border-radius: 6px;
    border: none;
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.pricing-yearly-button {
    max-width: 82px;
    width: 100%;
    height: 45px;
    padding: 12px 24px 12px 24px;
    gap: 10px;
    border-radius: 100px;
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    border: none;
    background-color: white;
    cursor: pointer;
}
.pricing-paragraph {
    max-width: 809px;
    width: 100%;
    height: 48px;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(89, 89, 90, 1);
}

/* Pricing Section 2 */


.pricing-section { 
    width: 100%;
    height: 982px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.pricing-container {
    display: flex;
    justify-content: center;
    max-width: 1279px;
    width: 100%;
    height: 982px;
    padding: 50px;
    gap: 30px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 1);
}
.pricing-left-right {
    max-width: 574.5px;
    width: 100%;
    height: 882px;
    padding: 40px 24px 24px 24px;
    gap: 50px;
    border-radius: 12px;
    border: 1px solid rgba(241, 241, 243, 1);
    background: rgba(252, 252, 253, 1);
}
.pricing-plan {
    max-width: 526.5px;
    width: 100%;
    height: 50px;
    padding: 10px 0px 10px 0px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid rgba(255, 234, 204, 1);
    background: rgba(255, 249, 240, 1);
}
.pricing-plan-paragraph {
    font-family: Be Vietnam Pro;
    font-size: 18px;
    font-weight: 500;
    line-height: 30.42px;
    text-align: center;
    color: rgba(38, 38, 38, 1);
}
.pricing-text-container {
    max-width: 526.5px;
    width: 100%;
    height: 44px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.pricing-text-paragraph {
    font-family: Be Vietnam Pro;
    font-size: 60px;
    font-weight: 600;
    line-height: 43.8px;
    text-align: left;
}
.pricing-text-span {
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 500;
    line-height: 11.68px;
    text-align: left;
    color: rgba(76, 76, 77, 1);
}
.pricing-features {
    max-width: 526.5px;
    width: 100%;
    height: 567px;
    padding: 30px;
    gap: 24px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border: 1px solid rgba(241, 241, 243, 1);
    background: rgba(255, 255, 255, 1);
    margin-top: 50px;
}
.pricing-features-paragraph {
    font-family: Be Vietnam Pro;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
}
.pricing-features-button{ 
    max-width: 526.5px;
    width: 100%;
    height: 57px;
    padding: 18px 24px 18px 24px;
    gap: 8px;
    background: rgba(255, 149, 0, 1);
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    cursor: pointer;
}
.pricing-features-items-container {
    max-width: 466.5px;
    width: 100%;
    height: 456px;
    padding: 0px 30px 0px 30px;
    gap: 20px;
    margin-top: 24px;
}
.pricing-features-accept {
    max-width: 406.5px;
    width: 100%e;
    height: 48px;
    padding: 12px;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid rgba(241, 241, 243, 1);
    display: flex;
    align-items: center;
}
.pricing-features-img {
    max-width: 24px;
    width: 100%;
    height: 24px;
    padding: 4px;
    gap: 10px;
    border-radius: 4px;
    cursor: pointer;
    background: rgba(255, 244, 229, 1);

}
.pricing-features-accept-paragraph {
    max-width: 326px;
    width: 100%;
    height: 21px;
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: rgba(76, 76, 77, 1);
}
.pricing-features-accept-limited {
    max-width: 406.5px;
    width: 100%e;
    height: 48px;
    padding: 12px;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid rgba(241, 241, 243, 1);
    display: flex;
    align-items: center;
    margin-top: 20px;
 }
.pricing-features-img-x {
    max-width: 24px;
    width: 100%;
    height: 24px;
    padding: 4px;
    gap: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(241, 241, 243, 1)
}

/* FAQ Section */

.faq-section {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.faq-container {
    display: flex;
    max-width: 1279px;
    width: 100%;
    height: 1020px;
    padding: 80px;
    gap: 80px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 1);
}
.faq-heading {
    max-width: 408px;
    width: 100%;
    height: 148px;
    gap: 8px;
}
.faq-header {
    max-width: 408px;
    width: 100%;
    height: 92px;
    font-family: Be Vietnam Pro;
    font-size: 38px;
    font-weight: 600;
    line-height: 45.6px;
    text-align: left;
}
.faq-paragraph-container {
    max-width: 408px;
    width: 100%;
    height: 48px;
    margin-top: 8px;
}
.faq-paragraph {
    max-width: 408px;
    width: 100%;
    height: 48px;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.faq-button {
    max-width: 130px;
    width: 100%;
    height: 49px;
    padding: 14px 20px 14px 20px;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid rgba(241, 241, 243, 1);
    background: rgba(255, 255, 255, 1);
    margin-top: 40px;
    cursor: pointer;
}
.faq-question-container {
    max-width: 631px;
    width: 100%;
    height: 860px;
    gap: 30px;
}
.faq-courses {
    max-width: 631px;
    width: 100%;
    height: 352px;
    padding: 40px;
    gap: 40px;
    border-radius: 10px;
    border: 1px solid rgba(241, 241, 243, 1);
    background: rgba(255, 255, 255, 1);
}
.faq-paragraph-container {
    max-width: 551px;
    width: 100%;
    height: 64px;
    padding: 0px 0px 20px 0px;
    gap: 30px;
    border-bottom: 1px solid rgba(241, 241, 243, 1);
    display: flex;
}
.faq-paragraph {
    max-width: 477px;
    width: 100%;
    height: 27px;
    font-family: Be Vietnam Pro;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color: rgba(38, 38, 38, 1);
    padding-top: 10px;
}
.faq-paragraph-xx {
    max-width: 477px;
    width: 100%;
    height: 27px;
    font-family: Be Vietnam Pro;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color: rgba(76, 76, 77, 1);
}
.faq-button-x {
    max-width: 44px;
    width: 100%;
    height: 44px;
    padding: 10px;
    border-radius: 6px;
    background: rgba(255, 244, 229, 1);
    border: none;
    cursor: pointer;
}
.faq-hidden {
    max-width: 551px;
    width: 100%;
    height: 48px;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.006em;
    text-align: left;
    margin-top: 40px;
}
/* .faq-hidden {
    visibility: hidden;
} */
.faq-hidden-paragraph {
    max-width: 551px;
    width: 100%;
    height: 48px;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.006em;
    text-align: left;
    color: rgba(76, 76, 77, 1);
}
.faq-arrow-container {
    max-width: 551px;
    width: 100%;
    height: 80px;
    padding: 16px 24px 16px 24px;
    border-radius: 6px;
    border: 1px solid rgba(241, 241, 243, 1);
    margin-top: 40px;
    background-color: rgba(247, 247, 248, 1);
    display: flex;
}
.arrow-right-button {
    max-width: 48px;
    width: 100%;
    height: 48px;
    padding: 12px;
    gap: 10px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
}
.faq-arrow-paragraph {
    max-width: 455px;
    width: 100%;
    height: 24px;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(51, 51, 51, 1);
    padding-top: 12px;
}
.faq-arrow-container-x {
    max-width: 631px;
    width: 100%;
    height: 92px;
    padding: 24px 40px 24px 40px;
    gap: 40px;
    border-radius: 10px;
    border: 1px solid rgba(241, 241, 243, 1);
    background: rgba(255, 255, 255, 1);
    margin-top: 30px;
    display: flex;
}
.faq-paragraph-x {
    max-width: 467px;
    width: 100%;
    height: 27px;
    font-family: Be Vietnam Pro;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color: rgba(38, 38, 38, 1);
    padding-top: 10px;
}
.faq-paragraph-xx {
    max-width: 467px;
    width: 100%;
    height: 27px;
    font-family: Be Vietnam Pro;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color: rgba(38, 38, 38, 1);
    padding-bottom: 22px;
}

/* Footer-Section */

.footer-section {
    width: 100%;
    height: 234px;
    padding: 60px 80px 20px 80px;
    gap: 30px;
    background: rgba(255, 255, 255, 1);
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.footer-container {
    max-width: 1278px;
    width: 100%;
    height: 174px;
    display: flex;
    justify-content: space-between;
}
.sub-container {
    max-width: 304px;
    width: 100%;
    height: 174px;
    gap: 30px;
}
.footer-icon {
    width: 44px;
    height: 44px;
    padding: 5.7px;
    border-radius: 6px;
    background: rgba(255, 149, 0, 1);
}

/* email-buttpn */

.email-button {
    max-width: 197px;
    width: 100%;
    height: 24px;
    gap: 4px;
    border-radius: 6px;
    margin-top: 30px;
    display: flex;
}
.email-button-container {
    max-width: 20px;
    width: 100%;
    height: 20px;
    padding: 3.13px 1.25px 3.13px 1.25px;
}
.email-button-paragraph {
    max-width: 173px;
    width: 100%;
    height: 24px;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
}

/* phone button */

.phone-button {
    max-width: 170px;
    width: 100%;
    height: 24px;
    gap: 4px;
    border-radius: 6px;
    display: flex;
    margin-top: 14px;
}
.phone-button-container {
    max-width: 20px;
    width: 100%;
    height: 20px;
    padding: 1.25px 0px 0px 0px;
}
.phone-button-paragraph {
    max-width: 146px;
    width: 100%;
    height: 24px;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
}

/* location-button */

.location-button {
    max-width: 213px;
    width: 100%;
    height: 24px;
    gap: 4px;
    border-radius: 6px;
    display: flex;
    margin-top: 14px;
}
.location-button-container {
    max-width: 20px;
    width: 100%;
    height: 20px;
    padding: 1.88px 3.13px 1.25px 3.13px;
}
.location-button-paragraph{
    max-width: 189px;
    width: 100%;
    height: 24px;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
}

/* Sub Container Right */

.sub-container-right {
    max-width: 737px;
    width: 100%;
    height: 157px;
    gap: 24px;
    border: 1x solid;
    display: flex;
}
.sub-container-home {
    max-width: 229.67px;
    width: 100%;
    height: 157px;
    gap: 10px;
}

/* Home */

.sub-home {
    max-width: 229.67px;
    width: 100%;
    height: 27px;
    font-family: Be Vietnam Pro;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
}
.sub-list {
    max-width: 229.67px;
    width: 100%;
    height: 120px;
    margin-top: 10px;
}
.sub-benefits {
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(89, 89, 90, 1);
    cursor: pointer;
}
.sub-paragraph {
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: 8px;
    color: rgba(89, 89, 90, 1);
    cursor: pointer;
}

/* About Us */

.sub-container-about-us {
    max-width: 229.67px;
    width: 100%;
    height: 125px;
    gap: 10px;
}
.sub-about-us {
    max-width: 229.67px;
    width: 100%;
    height: 27px;
    font-family: Be Vietnam Pro;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
}

/* Socials */

.sub-container-socials {
    max-width: 229.67px;
    width: 100%;
    height: 85px;
    gap: 14px;
}
.sub-social-profiles {
    max-width: 229.67px;
    width: 100%;
    height: 27px;
    font-family: Be Vietnam Pro;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
}
.socials-button-container {
    max-width: 190px;
    width: 100%;
    height: 44px;
    margin-top: 10px;
}
.socials-button {
    max-width: 44px;
    width: 100%;
    height: 44px;
    padding: 12px;
    gap: 14px;
    border-radius: 6px;
    border: 1px solid rgba(241, 241, 243, 1);
    background: rgba(247, 247, 248, 1);
    cursor: pointer;
    margin-right: 14px;
}
.copyright-section {
    width: 100%;
    height: 101px;
    background: rgba(255, 255, 255, 1);
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.copyright-container {
    max-width: 1278px;
    width: 100%;
    height: 71px;
    padding-top: 30px;
    border-top: 1px solid rgba(241, 241, 243, 1)

}
.copy-paragraph {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 21px;
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: rgba(101, 101, 103, 1);  
}

















